<div class="promo">
    Низкие цены каждый день
</div>
<div class="header-menu">
    <div class="container">
        <div class="links">
            <a href="/advices" class="advices">Советы</a>
            <a href="/services" class="services">Услуги</a>
            <a href="#" class="hands">Поставщикам</a>
            <a href="#" class="faq">FAQ</a>
            <a href="#" class="enter">Вход</a>
            <a href="/users/register" class="register">Регистрация</a>
        </div>
    </div>
</div>
<div class="header">
    <div class="container">
        <div class="flex-container">
            <div class="logo">
                <a class="logo-link" href="/">
                        <img src="/images/logo/logo.png" alt="Logo">
                    </a>
                <div class="categories">
                    <a href="#" class="main-cat-title">Каталог</a>
                    <ul class="categories-2">
                        {{#each parentCategories}}
                        <li>
                            {{#if this.childCategories}}
                                <a href="/categories/{{this.name}}/{{this.id}}/" class="title">{{ this.name }}</a>
                            {{else}}
                                <a href="/categories/{{this.name}}/{{this.id}}/" class="title">{{ this.name }}</a>
                            {{/if}}
                            <ul class="categories-3">
                                {{#each this.childCategories}}
                                <li>
                                    {{#if this.childCategories}}
                                        <a href="/categories/{{this.name}}/{{this.id}}/">{{ this.name }}</a>
                                    {{else}}
                                        <a href="/categories/{{this.name}}/{{this.id}}/">{{ this.name }}</a>
                                    {{/if}}
                                    <ul class="categories-4">
                                        {{#each this.childCategories}}
                                            {{#if this.childCategories}}
                                                <li><a href="/categories/{{ this.name }}/{{ this.id }}/">
                                                    {{ this.name }}
                                                </a></li>
                                            {{else}}
                                                <li><a href="/products/category/{{this.name}}/{{this.id}}/">
                                                    {{ this.name }}
                                                </a></li>
                                            {{/if}}
                                        {{/each}}
                                    </ul>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="search-main">
                <form action="/products/search" method="post">
                    <input type="text" class="search-field" placeholder="Поиск..." name="text" />
                    <input type="submit" class="search-button" value="">
                </form>
                <div class="basket">
                    <a href="#">Корзина</a>
                </div>
            </div>
        </div>
        <ul class="menu">
            {{#each categoriesViewInMenu}}
            <li>
                <a href="/categories/{{this.name}}/{{this.id}}/">{{ this.name }}</a>
                <div class="menu-content clearfix">
                    <div class="left clearfix">
                        <div class="col">
                            <h4>Топ категории</h4>
                            <ul>
                                {{#each this.childCategories}}
                                    <li>
                                        <a href="/categories/{{this.name}}/{{this.id}}/"> {{ this.name }} </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                        <!--<div class="col">
                            <h4>Что лучше?</h4>
                            <ul>
                                <li><a href="">Нет это 1</a></li>
                                <li><a href="">Нет это 2</a></li>
                                <li><a href="">Нет это 3</a></li>
                                <li><a href="">Нет это 4</a></li>
                            </ul>
                        </div>-->
                    </div>
                    <div class="right">
                        {{#if this.photo.url }}
                        <img height="300" src="{{this.apiUrl}}/{{ this.photo.url}}"> {{/if }}
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<script src="/javascripts/index.js"></script>
<script src="/javascripts/header.js"></script>