<link rel="stylesheet" href="/stylesheets/aliexpress.css">
<div class="main-sliders">
    <div class="container">
        <div class="main-slider-wrap">
            <ul id="main-slider" class="main-slider">
                {{#each banners}}
                    {{#if this.image }}
                    <li>
                        <img height="500" src="{{ this.apiUrl }}/{{ this.image}}" alt=""> {{#if this.buttonLink}}
                        <div class="info">
                            <!--<p>Горячая вода - круглый год</p>
                                            <span>Подберите водонагреватель</span>-->
                            <a href="{{ this.buttonLink }}">{{ this.buttonName }}</a>
                        </div>
                        {{/if }}
                    </li>
                    {{/if }}
                {{/each}}
            </ul>
        </div>
        <div class="company-slider-wrap">
            <ul class="company-slider" id="company-slider">
                {{#each producers}}
                    {{#if this.image}}
                        <li>
                            <img width="100" height="100"  src="{{ this.apiUrl }}/{{ this.image }}" alt="">
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="new-user-guide util-clearfix">
        <div class="flex-container">
            <div class="new-user-guide-item protection-one">
                <p class="p-title"><a href="http://activities.aliexpress.com/ru/users_guide.php?tracelog=mainpageblock_makeorder#guid-14291660627010">Как сделать заказ</a></p>
                <p class="p-desc"><a href="http://activities.aliexpress.com/ru/users_guide.php?tracelog=mainpageblock_makeorder#guid-14291660627010">Поиск и выбор товара</a></p>
            </div>
            <div class="new-user-guide-item protection-two">
                <p class="p-title"><a href="http://activities.aliexpress.com/ru/users_guide.php?tracelog=mainpageblock_payment#guid-14291727717950">Как оплатить товар</a></p>
                <p class="p-desc"><a href="http://activities.aliexpress.com/ru/users_guide.php?tracelog=mainpageblock_payment#guid-14291727717950">Способы оплаты</a></p>
            </div>
            <div class="new-user-guide-item protection-three">
                <p class="p-title"><a href="http://activities.aliexpress.com/ru/users_guide.php?tracelog=mainpageblock_delivery#guid-1429265025153">Доставка</a></p>
                <p class="p-desc"><a href="http://activities.aliexpress.com/ru/users_guide.php?tracelog=mainpageblock_delivery#guid-1429265025153">Способы и сроки доставки</a></p>
            </div>
            <div class="new-user-guide-item protection-four">
                <p class="p-title"><a href="http://activities.aliexpress.com/ru/buyerprotection.php?tracelog=mainpageblock_bp">Гарантии Alladin</a></p>
                <p class="p-desc"><a href="http://activities.aliexpress.com/ru/buyerprotection.php?tracelog=mainpageblock_bp">Решение спорных ситуаций и возвраты</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="action">
        <span class="action-delivery">Узнайте о доставке на следующий день</span>
    </div>
</div>
<div class="container">
    <div class="container mall-floor-ru">
        <div class="mall-container util-clearfix">
            <div class="brands-event-content col-lg-30 col-md-30 col-sm-30">
                <div class="mall-ru-left-top">
                    <div class="left-banner-wrap">
                        <div class="banner-img"
                            style="background-image:url('{{ leftBannerShowInMainPage.apiUrl }}/{{ leftBannerShowInMainPage.image }}');">
                        <a href="{{ leftBannerShowInMainPage.buttonLink }}">&nbsp; </a></div>
                    </div>

                    <div class="seller-entrances-wrap">
                        <ul>
                            {{#each categoriesLeft}}
                                <li class="seller-item">
                                    <div class="entrance-title">
                                        <a href="/categories/{{this.name}}/{{this.id}}">{{ this.name }}</a>
                                    </div>

                                    <!--<div class="entrance-logo">
                                        <a href="https://sale.aliexpress.com/ru/Molnia_Home_PC.htm">
                                            <img alt="" src="{{this.apiUrl}}/{{this.image}}"> 
                                        </a>
                                    </div>-->

                                    <div class="entrance-pic">
                                        <a href="/categories/{{this.name}}/{{this.id}}">
                                            <img alt="" src="{{this.apiUrl}}/{{this.image}}">
                                        </a>
                                    </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <div class="brands-list-main">
                    <div class="brands-title">
                        <h5>Мировые бренды</h5>
                        <a class="brands-more" href="https://mall.aliexpress.com/molnia">Смотреть все &gt; </a></div>
                    <ul class="brands-list clearfix">
                        {{#each producersLeft}}
                            {{#if this.image}}
                            <li class="brand-item">
                                <span>
                                    <a href="#">
                                        <img alt="" src="{{this.apiUrl}}/{{this.image}}"> 
                                    </a>
                                </span>
                            </li>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="hot-brands-content col-lg-30 col-md-30 col-sm-30">
                <div class="mall-ru-right-top">
                    <div class="left-banner-wrap">
                        <div class="banner-img" style="background-image:url('{{rigthBannerShowInMainPage.apiUrl}}/{{rigthBannerShowInMainPage.image}}');">
                            <a href="{{rigthBannerShowInMainPage.buttonLink}}">&nbsp; </a>
                        </div>
                    </div>
                    <div class="seller-entrances-wrap">
                        <ul>
                            {{#each categoriesRight}}
                                <li class="seller-item">
                                    <div class="entrance-title">
                                        <a href="/categories/{{this.name}}/{{this.id}}">{{ this.name }}</a>
                                    </div>

                                    <!--<div class="entrance-logo">
                                        <a href="https://sale.aliexpress.com/ru/Molnia_Home_PC.htm">
                                            <img alt="" src="{{this.apiUrl}}/{{this.image}}"> 
                                        </a>
                                    </div>-->

                                    <div class="entrance-pic">
                                        <a href="/categories/{{this.name}}/{{this.id}}">
                                            <img alt="" src="{{this.apiUrl}}/{{this.image}}">
                                        </a>
                                    </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <div class="brands-list-main">
                    <div class="brands-title">
                        <h5>Международные бренды</h5>
                        <a class="brands-more" href="https://mall.aliexpress.com/">Смотреть все &gt; </a>
                    </div>
                    <ul class="brands-list clearfix">
                        {{#each producersRight}}
                            {{#if this.image}}
                            <li class="brand-item">
                                <span>
                                    <a href="#">
                                        <img alt="" src="{{this.apiUrl}}/{{this.image}}"> 
                                    </a>
                                </span>
                            </li>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="action">
        <span class="action-delivery">Бесплатная конусльтация со специалистом</span>
    </div>
</div>
<div class="container">
    <div class="main-advices-carousel__stage jcarousel clearfix" data-jcarousel="true">
        <ul class="catalog catalog_col-4" style="left: 0px; top: 0px;">
            <li class="main-advices-carousel__item">
                <div class="advices-carousel__pic" style="background-image: url(/images/leroy/ok_01_oblozhka_kak_pokryt_krovlyu_metallocherepitsey_280.jpg);">
                    <a href="https://leroymerlin.ru/advice/stroymaterialy/kak-pokryt-krovlyu-metallocherepitsey/" target="_blank">
                        <div class="advices-carousel__category">
                            Как сделать </div>
                        <div class="advices-carousel__type-text">
                            Статьи </div>
                    </a>
                </div>

                <div class="advices-carousel__name">
                    <a href="https://leroymerlin.ru/advice/stroymaterialy/kak-pokryt-krovlyu-metallocherepitsey/" target="_blank">
                                        Как покрыть кровлю металлочерепицей                                    </a>
                </div>

                <div class="advices-carousel__views">
                    29 378 Просмотров </div>
            </li>
            <li class="main-advices-carousel__item">

                <div class="advices-carousel__pic" style="background-image: url(/images/leroy/11_oblozhka_kak_nanesti_antiseptik_dlya_zashchity_dere_280.jpg);">
                    <a href="https://leroymerlin.ru/advice/kraski/kak-nanesti-antiseptik-dlya-zashchity-derevyannykh-sten-doma/" target="_blank">
                        <div class="advices-carousel__category">
                            Как сделать </div>
                        <div class="advices-carousel__type-text">
                            Статьи </div>
                    </a>
                </div>

                <div class="advices-carousel__name">
                    <a href="https://leroymerlin.ru/advice/kraski/kak-nanesti-antiseptik-dlya-zashchity-derevyannykh-sten-doma/" target="_blank">
                                        Как нанести антисептик для защиты деревянных стен дома                                    </a>
                </div>

                <div class="advices-carousel__views">
                    20 112 Просмотрa </div>
            </li>
            <li class="main-advices-carousel__item">

                <div class="advices-carousel__pic" style="background-image: url(/images/leroy/gazon.png);">
                    <a href="https://leroymerlin.ru/advice/sad/kak-ukhazhivat-za-gazonom/" target="_blank">
                        <div class="advices-carousel__category">
                            Как ухаживать </div>
                        <div class="advices-carousel__type-video">
                            Видео </div>
                    </a>
                </div>

                <div class="advices-carousel__name">
                    <a href="https://leroymerlin.ru/advice/sad/kak-ukhazhivat-za-gazonom/" target="_blank">
                                        Как ухаживать за газоном                                    </a>
                </div>

                <div class="advices-carousel__views">
                    2 488 Просмотров </div>
            </li>
            <li class="main-advices-carousel__item">

                <div class="advices-carousel__pic" style="background-image: url(/images/leroy/11.jpg);">
                    <a href="https://leroymerlin.ru/advice/vodosnabzhenie/ustanovka-elektrovodonagrevatelya/" target="_blank">
                        <div class="advices-carousel__category">
                            Как сделать </div>
                        <div class="advices-carousel__type-video">
                            Видео </div>
                    </a>
                </div>

                <div class="advices-carousel__name">
                    <a href="https://leroymerlin.ru/advice/vodosnabzhenie/ustanovka-elektrovodonagrevatelya/" target="_blank">
                                        Установка электроводонагревателя                                    </a>
                </div>

                <div class="advices-carousel__views">
                    13 875 Просмотров </div>
            </li>
        </ul>
    </div>
</div>


<div class="container" id="groups-container">
    <div class="superdeals-header">
        <h2>Горячие товары</h2>

        <div class="service"></div>
    </div>
    <div class="superdeals-list buy-product-list">
        <div class="hidden-xs col-sm-30 col-md-20 col-lg-15">
            <div class="sp-product-one">
                <a href="/products/details/{{ hotProducts.0.id }}">
                    <div class="pro-img-area">
                        <img height="296"
                            src="{{hotProducts.0.apiUrl}}/{{hotProducts.0.image}}"
                            width="296">
                    </div>
                    <div class="pro-info">
                        <div class="pro-title">{{hotProducts.0.name}}</div>
                        <div class="pro-price">
                            <span class="g-price notranslate">
                                {{#if hotProducts.0.priceStock}}
                                    <span class="g-price-n">{{hotProducts.0.priceStock}} сом.</span>
                                {{else}}
                                    <span class="g-price-n">{{hotProducts.0.price}} сом.</span>
                                {{/if}}
                            </span>
                            {{#if hotProducts.0.priceStock}}
                                <del class="g-del-price">{{hotProducts.0.price}} сом.</del>
                            {{/if}}
                        </div>
                        <div class="discount">
                            {{#if hotProducts.0.percent}}
                                <span class="num">-{{hotProducts.0.percent}}%</span>
                            {{/if}}
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="hidden-xs hidden-sm hidden-md col-md-20 col-lg-15">
            <div class="sp-product-three util-clearfix">
                <a href="/products/details/{{ hotProducts.1.id }}">
                    <div class="pro-img-area">
                        <img height="148"
                            src="{{hotProducts.1.apiUrl}}/{{hotProducts.1.image}}"
                            width="148">
                    </div>
                    <div class="pro-info">
                        <div class="pro-price">
                            <span class="g-price notranslate">
                                {{#if hotProducts.1.priceStock}}
                                    <span class="g-price-n">{{hotProducts.1.priceStock}} сом.</span>
                                {{else}}
                                    <span class="g-price-n">{{hotProducts.1.price}} сом.</span>
                                {{/if}}
                            </span>
                            {{#if hotProducts.1.priceStock}}
                                <del class="g-del-price">{{hotProducts.1.price}} сом.</del>
                            {{/if}}
                        </div>
                        <div class="discount">
                            {{#if hotProducts.1.percent}}
                                <span class="num">-{{hotProducts.1.percent}}%</span>
                            {{/if}}
                        </div>
                    </div>
                </a>
            </div>
            <div class="sp-product-three util-clearfix">
                <a href="/products/details/{{ hotProducts.2.id }}">
                    <div class="pro-img-area">
                        <img height="148"
                            src="{{hotProducts.2.apiUrl}}/{{hotProducts.2.image}}"
                            width="148"></div>
                    <div class="pro-info">
                        <div class="pro-price">
                            <span class="g-price notranslate">
                                {{#if hotProducts.2.priceStock}}
                                    <span class="g-price-n">{{hotProducts.2.priceStock}} сом.</span>
                                {{else}}
                                    <span class="g-price-n">{{hotProducts.2.price}} сом.</span>
                                {{/if}}
                            </span>
                            {{#if hotProducts.2.priceStock}}
                                <del class="g-del-price">{{hotProducts.2.price}} сом.</del>
                            {{/if}}
                        </div>
                        <div class="discount">
                            {{#if hotProducts.2.percent}}
                                <span class="num">-{{hotProducts.2.percent}}%</span>
                            {{/if}}
                        </div>
                    </div>
                </a>
            </div>
            <div class="sp-product-three util-clearfix">
                <a href="/products/details/{{ hotProducts.3.id }}">
                    <div class="pro-img-area">
                        <img height="148"
                            src="{{hotProducts.3.apiUrl}}/{{hotProducts.3.image}}"
                            width="148"></div>
                    <div class="pro-info">
                        <div class="pro-price">
                            <span class="g-price notranslate">
                                {{#if hotProducts.3.priceStock}}
                                    <span class="g-price-n">{{hotProducts.3.priceStock}} сом.</span>
                                {{else}}
                                    <span class="g-price-n">{{hotProducts.3.price}} сом.</span>
                                {{/if}}
                            </span>
                            {{#if hotProducts.3.priceStock}}
                                <del class="g-del-price">{{hotProducts.3.price}} сом.</del>
                            {{/if}}
                        </div>

                        <div class="discount">
                            {{#if hotProducts.3.percent}}
                                <span class="num">-{{hotProducts.3.percent}}%</span>
                            {{/if}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-20 col-lg-15">
            <div class="sp-product-one">
                <a href="/products/details/{{ hotProducts.4.id }}">
                    <div class="pro-img-area">
                        <img height="296"
                            src="{{hotProducts.4.apiUrl}}/{{hotProducts.4.image}}"
                            width="296"></div>
                    <div class="pro-info">
                        <div class="pro-title">{{ hotProducts.4.name }}</div>
                        <div class="pro-price">
                            <span class="g-price notranslate">
                                {{#if hotProducts.4.priceStock}}
                                    <span class="g-price-n">{{hotProducts.4.priceStock}} сом.</span>
                                {{else}}
                                    <span class="g-price-n">{{hotProducts.4.price}} сом.</span>
                                {{/if}}
                            </span>
                            {{#if hotProducts.4.priceStock}}
                                <del class="g-del-price">{{hotProducts.4.price}} сом.</del>
                            {{/if}}
                        </div>
                        <div class="discount">
                            {{#if hotProducts.4.percent}}
                                <span class="num">-{{hotProducts.4.percent}}%</span>
                            {{/if}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="hidden-xs col-sm-30 col-md-20 col-lg-15">
            <div class="sp-product-two util-clearfix">
                <a href="/products/details/{{ hotProducts.5.id }}">
                    <div class="pro-img-area">
                        <img height="180"
                            src="{{hotProducts.5.apiUrl}}/{{hotProducts.5.image}}"
                            width="180"></div>
                    <div class="pro-info">
                        <div class="pro-price">
                            <span class="g-price notranslate">
                                {{#if hotProducts.5.priceStock}}
                                    <span class="g-price-n">{{hotProducts.5.priceStock}} сом.</span>
                                {{else}}
                                    <span class="g-price-n">{{hotProducts.5.price}} сом.</span>
                                {{/if}}
                            </span>
                            {{#if hotProducts.5.priceStock}}
                                <del class="g-del-price">{{hotProducts.5.price}} сом.</del>
                            {{/if}}
                        </div>
                        <div class="discount">
                            {{#if hotProducts.5.percent}}
                                <span class="num">-{{hotProducts.5.percent}}%</span>
                            {{/if}}
                        </div>
                    </div>
                </a>
            </div>
            <div class="sp-product-two util-clearfix">
                <a href="/products/details/{{ hotProducts.6.id }}">
                    <div class="pro-img-area">
                        <img height="180"
                            src="//ae01.alicdn.com/kf/HTB1R6kLSFXXXXXJXFXXq6xXFXXXR.jpg_350x350.jpg"
                            width="180"/>
                    </div>
                    <div class="pro-info">
                        <div class="pro-price">
                            <span class="g-price notranslate">
                                {{#if hotProducts.6.priceStock}}
                                    <span class="g-price-n">{{hotProducts.6.priceStock}} сом.</span>
                                {{else}}
                                    <span class="g-price-n">{{hotProducts.6.price}} сом.</span>
                                {{/if}}
                            </span>
                            {{#if hotProducts.6.priceStock}}
                                <del class="g-del-price">{{hotProducts.6.price}} сом.</del>
                            {{/if}}
                        </div>
                        <div class="discount">
                            {{#if hotProducts.6.percent}}
                                <span class="num">-{{hotProducts.6.percent}}%</span>
                            {{/if}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="waterfall-tab">
        <div class="waterfall-tab-list">
            <a class="item selected" data-role="product-container" href="#">Все</a>
            {{#each categoriesViewInLikesBlock}}
                <a class="item" data-role="{{ this._id }}" href="#">{{ this.name }}</a>
            {{/each}}
            <!--<a class="item" data-role="filter" href="#">Для неё</a>-->
        </div>
    </div>
    <div class="waterfall-products-wrap container">
        <ul class="product-list clearfix related-recommend" data-role="product-container">
            {{#each rndProducts}}
            <li class="good-item" data-role="item" data-productid="32669891457">
                <div class="item-inner">
                    <h3><b>{{ this.name }}</b></h3>
                    <a href="/products/details/{{ this.id }}"
                        target="_blank">
                        <div class="pro-img">
                            {{#if this.image }}
                                <img src="{{ this.apiUrl }}/{{ this.image }}" />
                            {{else}}
                                <img src="/images/no-photo.png" />
                            {{/if }}
                        </div>
                        <div class="pro-info">
                            <!--<div class="g-orders">Заказов: 73</div>-->
                            <span class="g-price">{{ this.price }}</span>
                            <del class="g-del-price">{{ this.priceStock }}</del>
                        </div>
                    </a>
                </div>
            </li>
            {{/each}}
        </ul>
        {{#each categoriesViewInLikesBlock}}
        <ul class="product-list clearfix related-recommend" data-role="{{ this._id }}">
            {{#each this.rndProducts}}
            <li class="good-item" data-role="item" data-productid="{{ this._id }}">
                <h3><b>{{ this.name }}</b></h3>
                <div class="item-inner">
                    <a href="//www.aliexpress.com/item/Hallux-valgus-correction-daily-spot-a-large-number-of-wholesale-appliance-care-insole-insole-toe/32524673244.html?scm=1007.13562.83616.0&amp;pvid=59f2ae56-07d1-47a8-918b-2a863feaf624&amp;tpp=1"
                        target="_blank">
                        <div class="pro-img">
                            {{#if this.image }}
                            <img src="{{this.apiUrl}}/{{ this.image }}"> {{else}}
                            <img src="/images/no-photo.png"> {{/if }}
                        </div>
                        <div class="pro-info">
                            <!--<div class="g-orders">Заказов: 1287</div>-->
                            <span class="g-price">{{ this.price }}</span>
                            <del class="g-del-price">{{ this.price }}</del>
                        </div>
                    </a>
                </div>
            </li>
            {{/each}}
        </ul>
        {{/each}}
    </div>
</div>

<section class="section p0 m0">
    <div class="container clearfix">
        <h2 class="section__hl" style="text-transform: none;">#ЯлюблюЛеруаМерлен</h2>
        <!--<h2 class="section__hl">Мы в социальных сетях <span class="socials__hashtag">#ЯлюблюЛеруаМерлен</span></h2>-->

        <div class="socials" loaded="true">
            <div class="socials__col">
                <div class="socials__title">
                    <p class="socials__title__name">
                        <i class="socials__title__name_instagram"></i> leroymerlinrussia
                    </p>
                    <a href="https://www.instagram.com/leroymerlinrussia/" target="_blank" class="socials__title__subscribe btn btn_sm btn_grd">Подписаться</a>
                </div>

                <div class="socials__content">
                    <img src="/images/leroy/cat.jpg" alt="Ремонт — дело тонкое! Даже котику трудно оставаться равнодушным к процессу преображения жилья. #ЛеруаМерлен #LeroyMerlin #leroymerlinrus_hr #ЯЛюблюЛеруаМерлен">
                </div>
            </div>
            <div class="socials__col">
                <div class="socials__title">
                    <p class="socials__title__name">
                        <i class="socials__title__name_vk"></i> leroy_merlin
                    </p>
                    <a href="https://vk.com/leroy_merlin" target="_blank" class="socials__title__subscribe btn btn_sm btn_grd" onclick="dataLayerSocialClickPush(&#39;VKontakte&#39;, this.href, &#39;subscribe&#39;);">Подписаться</a>
                </div>

                <div class="socials__content">
                    <div id="vk_groups" style="width: 344px; height: 359.965px; background: none;">
                        <iframe name="fXD3c5d4" frameborder="0" src="./Леруа Мерлен – товары для строительства и ремонта по низким ценам_files/widget_community.html"
                            width="344" height="360" scrolling="no" id="vkwidget1" style="overflow: hidden; height: 359.965px;"></iframe>
                    </div>
                </div>
            </div>

            <div class="socials__col">
                <div class="socials__title">
                    <p class="socials__title__name">
                        <i class="socials__title__name_youtube"></i> LeroyMerlinRu
                    </p>
                    <a href="https://www.youtube.com/user/LeroyMerlinRu?sub_confirmation=1" target="_blank" class="socials__title__subscribe btn btn_sm btn_grd"
                        onclick="dataLayerSocialClickPush(&#39;YouTube&#39;, this.href, &#39;subscribe&#39;);">Подписаться</a>
                </div>

                <div class="socials__content socials__content mCustomScrollbar _mCS_1 mCS-autoHide" data-mcs-theme="minimal" style="position: relative; overflow: visible;">
                    <div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0">
                        <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                            <div class="youtube" id="https://www.youtube.com/embed/pDGHtNlr4-4" style="width: 100%; height: 200px; background-image: url(&quot;https://i.ytimg.com/vi/pDGHtNlr4-4/sddefault.jpg&quot;);">
                                <div class="play"></div>
                            </div>
                            <div class="youtube" id="https://www.youtube.com/embed/HcP6jKx9Nk0" style="width: 100%; height: 200px; background-image: url(&quot;https://i.ytimg.com/vi/HcP6jKx9Nk0/sddefault.jpg&quot;);">
                                <div class="play"></div>
                            </div>
                        </div>
                    </div>
                    <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal mCSB_scrollTools_vertical" style="display: block;">
                        <div class="mCSB_draggerContainer">
                            <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 275px; max-height: 326px; top: 0px;">
                                <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                            </div>
                            <div class="mCSB_draggerRail"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="category-slider-wrap">
        <ul class="category-slider" id="category-slider">
            {{#each parentCategories}}
            <li>
                <p class="title"><a href="/categories/{{this.name}}/{{this.id}}/">{{ this.name }}</a></p>
                {{#each this.childCategories}}
                <p class="cat"><a href="/categories/{{this.name}}/{{this.id}}/">{{ this.name }}</a></p>
                {{/each}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<!--<div class="container clearfix">
    <div class="partners">
        <div class="partners-main util-clearfix">
            <ul class="partners-list" title="Нам доверяют:">
                {{#each producers}}
                    {{#if this.image}}
                        <li>
                            <img width="100" height="100"  src="{{ this.apiUrl }}/{{ this.image }}" alt="">
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>-->

<div class="modal-popup-wrap">
    <div class="modal-popup modal-popup-small">
        <div class="auth-modal">
            <h4>Войти в личный кабинет</h4>
            <div class="input-wrap">
                <label for="">E-mail</label>
                <input type="text">
            </div>
            <div class="input-wrap">
                <label for="">Пароль</label>
                <input type="text">
            </div>
            <div class="input-wrap">
                <input type="submit" value="Войти">
            </div>
            <div class="help">
                <div>
                    <a href="#">Забыли пароль?</a>
                </div>
                <span>Если у вас нет аккаунта, пожалуйста <br> <a href="#">зарегистрируйтесь</a></span>
            </div>
        </div>
    </div>
</div>

<script>

    $("a.enter").click(function () {
       $(".modal-popup-wrap").fadeIn("fast");
        $(".modal-popup").fadeIn("fast");
    });
    $(".modal-popup-wrap").click(function(e){
        if (e.target.classList.contains("modal-popup-wrap")) {
            $(".modal-popup").fadeOut('fast');
            $(this).fadeOut('fast');
        }
    });
</script>