
    <link rel="stylesheet" href="/sass/categories.css">
     <div class="container">
        <div class="catalog-redesign-wrapper">
            <h1 class="ttu blk-title">Каталог</h1>

            <div class="left-col">

                <ul class="catalog-left-menu">
                    {{#each parentCategories}}
                        <li>
                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/">
                                <div class="cs_name">{{ this.name }}</div>
                                <div class="cs_cnt">{{ this.products.length }}</div>
                            </a>
                        </li>
                    {{/each}}
                    <li class="picture">
                        <a href="https://leroymerlin.ru/catalogue/predlozenie_ogranicheno/" style="padding: 10px 0 0 0;">
						<img src="/images/leroy/pl_newcatalog2.png">
					</a>
                    </li>
                </ul>
            </div>
            <div class="right-col">
                <table class="catalog-redesign-sections">
                    <tbody>
                        {{#each chunkParentCategories}}
                        <tr class="cr-photo-tr">
                            {{#ifCond this.data.length '>' 0}}
                            <td data-section-code="stroymaterialy">
                                <img src="/images/leroy/pic27l1c.jpg" alt="Стройматериалы">
                            </td>
                            {{/ifCond}}

                            {{#ifCond this.data.length '>' 1}}
                            <td data-section-code="stolyarnye_izdeliya">
                                <img src="/images/leroy/pic28p1v.jpg" alt="Столярные изделия">
                            </td>
                            {{/ifCond}}

                            {{#ifCond this.data.length '>' 2}}
                            <td data-section-code="elektrotovary">
                                <img src="/images/leroy/pic29b1p.jpg" alt="Электротовары">
                            </td>
                            {{/ifCond}}
                        </tr>
                        <tr class="cr-middle-space-tr">
                            <td colspan="3"></td>
                        </tr>
                        <tr class="cr-desc-tr">
                            {{#each this.data}}
                                <td>
                                    <div class="cr-section-desc">
                                        <div class="cr-section-title">
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/">{{ this.name }}</a>
                                        </div>
                                        <ul class="cr-section-categories">
                                            {{#each this.childCategories}}
                                            <li>
                                                <a href="https://leroymerlin.ru/catalogue/stroymaterialy/suhie_smesi_shtukaturki/#suhie_smesi_shtukaturki">
                                                    <div class="cs_name">{{ this.name }}</div>
                                                    <div class="cs_cnt">{{ this.products.length }}</div>
                                                </a>
                                            </li>
                                            {{/each }}
                                        </ul>
                                    </div>

                                </td>
                            {{/each}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="seo-block-container"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>