
    <link rel="stylesheet" href="/sass/categories.css">
    
     <div class="container">
        <div class="catalog-redesign-wrapper">
            <h1 class="ttu blk-title">Каталог</h1>
            <div class="left-col">
                <ul class="catalog-left-menu">
                    {{#each categories}}
                        <li>
                            {{#if this.selected}}
                                <a href="/categories/{{ this.name }}/{{ this.id }}/"
                                    style=" color: #fff !important;
                                            background: #fb722c;
                                            border-bottom: 1px solid #fb722c;">
                                    <div class="cs_name">{{ this.name }}</div>
                                    <div class="cs_cnt" id="countProductsOfCategory_{{ this.id }}">
                                        {{ this.productsCount }}
                                    </div>
                                    <input type="hidden" class="categoryIds" value="{{ this.id }}"/>
                                </a>
                            {{else}}
                                <a href="/categories/{{ this.name }}/{{ this.id }}/">
                                    <div class="cs_name">{{ this.name }}</div>
                                    <div class="cs_cnt" id="countProductsOfCategory_{{ this.id }}">
                                        {{ this.productsCount }}
                                        <input type="hidden" class="categoryIds" value="{{ this.id }}"/>
                                    </div>
                                </a>
                            {{/if}}
                        </li>
                    {{/each}}
                    <li class="picture">
                        <a href="#" style="padding: 10px 0 0 0;">
						<img src="/images/leroy/pl_newcatalog2.png">
					</a>
                    </li>
                </ul>
            </div>

            <div class="right-col">
                <table class="catalog-redesign-sections">
                    <tbody>
                        {{#each chunkCategories}}
                        <tr class="cr-photo-tr">
                            {{#each this.data}}
                            <td data-section-code="stroymaterialy">
                                {{#if this.childCategories}}
                                    <a href="/categories/{{ this.name }}/{{ this.id }}/">
                                        <img src="{{ this.apiUrl }}/{{ this.image }}"/>
                                    </a>
                                {{else}}
                                    <a href="/products/category/{{this.name}}/{{this.id}}/">
                                        <img src="{{ this.apiUrl }}/{{ this.image }}"/>
                                    </a>
                                {{/if}}
                            </td>
                            {{/each}}
                        </tr>
                        <tr class="cr-middle-space-tr">
                            <td colspan="3"></td>
                        </tr>
                        <tr class="cr-desc-tr">
                            {{#each this.data}}
                                <td>
                                    <div class="cr-section-desc">
                                        <div class="cr-section-title">
                                            {{#if this.childCategories}}
                                                <a href="/categories/{{ this.name }}/{{ this.id }}/">
                                                    {{ this.name }}
                                                </a>
                                            {{else}}
                                                <a href="/products/category/{{this.name}}/{{this.id}}/">
                                                    {{ this.name }}
                                                </a>
                                            {{/if}}
                                        </div>
                                        <ul class="cr-section-categories">
                                            {{#each this.childCategories}}
                                            <li>
                                                {{#if this.childCategories}}
                                                    <a href="/categories/{{this.name}}/{{this.id}}/">
                                                        <div class="cs_name">{{ this.name }}</div>
                                                        <div class="cs_cnt" id="countProductsOfCategory_{{ this.id }}">
                                                            {{ this.productsCount }}
                                                        </div>

                                                        <input type="hidden" class="categoryIds" value="{{ this.id }}"/>
                                                    </a>
                                                {{else}}
                                                    <a href="/products/category/{{this.name}}/{{this.id}}/">
                                                        <div class="cs_name">{{ this.name }}</div>
                                                        <div class="cs_cnt" id="countProductsOfCategory_{{ this.id }}">
                                                            {{ this.productsCount }}
                                                        </div>

                                                        <input type="hidden" class="categoryIds" value="{{ this.id }}"/>
                                                    </a>
                                                {{/if}}
                                            </li>
                                            {{/each }}
                                        </ul>
                                    </div>

                                </td>
                            {{/each}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="seo-block-container"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>