<div class="good-detail">
    <div class="container">
        <h2>{{ product.name }}</h2>
        <div class="good-detail__in">
            <div class="big-image">
                <div class="item">
                    <img id="big-image-img" src="{{ product.apiUrl }}/{{ product.image }}" alt="">
                </div>
                <div class="thumbnails">
                    <div class="thumbnail active">
                        <img src="{{ product.apiUrl }}/{{ product.image }}" alt="" />
                    </div>
                    {{#each images }}
                        <div class="thumbnail">
                            <img src="{{ this.apiUrl }}/{{ this.image }}" alt="" />
                        </div>
                    {{/each }}
                </div>
            </div>
            <div class="good-info">
                <div class="price-block">
                    <div class="block-1">
                        <span>Старая цена: <br> 4500 сом</span>
                        <span>Ваша экономия: <br> 2555 сом</span>
                    </div>
                    <div class="block-2">
                        <span>Цена:_____________ {{ product.price }} сом</span>
                    </div>
                    <div class="block-3">
                        <div class="amount-block">
                            <span>Количество:</span>
                            <div class="counter">
                                <button id="minus-one">-</button>
                                <input id="total-amount" type="text" value="1" min="1">
                                <button id="plus-one">+</button>
                            </div>
                        </div>
                        <div class="amount-block total-block">
                            <span class="total-text">Общая<br>стоимость:</span>
                            <b>{{ product.price }} сом</b>
                        </div>
                    </div>
                </div>
                <div class="buttons-block">
                    <a href="#" class="buy-now">Купить сейчас</a>
                    <a href="#" class="add-to-basket">Добавить в корзину</a>
                </div>
                <div class="phones-block">
                    <div class="super-block">
                        <span>Проконсультируйтесь со специалистом</span>
                        <a class="phone" href="#">0551 173838</a>
                    </div>
                    <i class="super-i">ИЛИ</i>
                    <div class="super-block">
                        <span>Введите номер и наш специалист перезвонит Вам</span>
                        <form action="">
                            <div class="insert-phone">
                                <input type="text" placeholder="+996(___)___-___">
                                <input type="submit" value="Жду звонка">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="payment-block">
                    <span>Оплата: наличными, перечислением, elsom, mobilnik.kg</span>
                </div>
                <div class="delivery-block">
                    <span>Доставка:</span>
                    <a href="#" class="free">по гоорду бесплатно*</a>
                    <a href="#">по регионам</a>
                    <a href="#">самовывоз</a>
                </div>
                <div class="social-block">
                    <span>Поделись с друзьями:</span>
                    <a href="#">
                        <img src="/images/logo/social/facebook.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/images/logo/social/whatsapp.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/images/logo/social/instagram.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/images/logo/social/email.png" alt="">
                    </a>
                    <a href="#">
                        <img src="/images/logo/social/arroba.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="good-detail__in">
            <div class="good-description">
                {{{ product.description }}}
            </div>
        </div>
        <div class="similar-goods">
            <h3>Похожие товары</h3>
            <div class="good-items">
                <div class="good-item">
                     <div class="img">
                         <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="">
                     </div>
                     <span class="name">Hello its beautiful name of good</span>
                     <span class="price">125 сом</span>
                </div>
                <div class="good-item">
                     <div class="img">
                         <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="">
                     </div>
                     <span class="name">Hello its beautiful name of good</span>
                     <span class="price">125 сом</span>
                </div>
                <div class="good-item">
                     <div class="img">
                         <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="">
                     </div>
                     <span class="name">Hello its beautiful name of good</span>
                     <span class="price">125 сом</span>
                </div>
                <div class="good-item">
                     <div class="img">
                         <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="">
                     </div>
                     <span class="name">Hello its beautiful name of good</span>
                     <span class="price">125 сом</span>
                </div>
                <div class="good-item">
                     <div class="img">
                         <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="">
                     </div>
                     <span class="name">Hello its beautiful name of good</span>
                     <span class="price">125 сом</span>
                </div>
                <div class="good-item">
                     <div class="img">
                         <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="">
                     </div>
                     <span class="name">Hello its beautiful name of good</span>
                     <span class="price">125 сом</span>
                </div>
                <div class="good-item">
                     <div class="img">
                         <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="">
                     </div>
                     <span class="name">Hello its beautiful name of good</span>
                     <span class="price">125 сом</span>
                </div>
                <div class="good-item">
                     <div class="img">
                         <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="">
                     </div>
                     <span class="name">Hello its beautiful name of good</span>
                     <span class="price">125 сом</span>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .header .container {
        border-bottom: 0;
    }
</style>
<script>
    $(".thumbnail").click(function () {
        var path = $(this).find("img").attr('src');
        $("#big-image-img").attr('src', path);
        $(".thumbnail").removeClass("active");
        $(this).addClass("active");
    })
    var total$ = $("#total-amount");
    $("#plus-one").click(function(){
        total$.val(parseInt(total$.val()) + 1);
    });
    $("#minus-one").click(function(){
        if (total$.val() > 1) {
            total$.val(total$.val() - 1);
        }
    });

    $(".good-items").bxSlider({
        width: 80,
        auto: true,
        slideMargin: 60,
        infiniteLoop: true,
        pager: false,
        minSlides: 4,
        maxSlides: 5,
        slideWidth: 200,
        moveSlides: 1
    });

</script>